$primary: #000;
$secondary: #000;
$error: #000;
$success: #000;
$info: #000;
$warning: #000;
$color: #000;
$border-color: #000;
$placeholder: #000;

$font-family: "Arial", sans-serif;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxl: 20px;
$font-size-xxxl: 22px;
$font-size-xxxxl: 24px;
$font-size-xxxxxl: 26px;

$breakpoints: (
  phone: 600px,
  tablet: 900px,
  desktop: 1200px,
);
